html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "header header"
    "nav cont";
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: burlywood;
}