ul {
    text-align: center;
}

.nav {
    grid-area: nav;
    background-color: brown;
}

.item {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.item a {
    color: #fff;
    text-decoration: none;

}

.item .active {
    color: gold;
}